<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.cms.admin.dao.FriendLinkDAO">
<resultMap id="FriendLinkMap" type="com.sparrow.cms.po.FriendLink">
<id column="id" property="id" />
 <result column="name" property="name"/>
 <result column="logo" property="logo"/>
 <result column="url" property="url"/>
 <result column="status" property="status"/>
 <result column="create_user_id" property="createUserId"/>
 <result column="gmt_create" property="gmtCreate"/>
 <result column="modified_user_id" property="modifiedUserId"/>
 <result column="gmt_modified" property="gmtModified"/>
 <result column="create_user_name" property="createUserName"/>
 <result column="modified_user_name" property="modifiedUserName"/>
</resultMap>
<sql id="fields">
`id`,
`name`,
`logo`,
`url`,
`status`,
`create_user_id`,
`gmt_create`,
`modified_user_id`,
`gmt_modified`,
`create_user_name`,
`modified_user_name`
</sql>
<insert id="insert" parameterType="com.sparrow.cms.po.FriendLink"  useGeneratedKeys="true" keyColumn="id" keyProperty="id">
insert into `friend_link`(
`name`,
`logo`,
`url`,
`status`,
`create_user_id`,
`gmt_create`,
`modified_user_id`,
`gmt_modified`,
`create_user_name`,
`modified_user_name`)values(
#{name},
#{logo},
#{url},
#{status},
#{createUserId},
#{gmtCreate},
#{modifiedUserId},
#{gmtModified},
#{createUserName},
#{modifiedUserName})</insert> 
<update id="update" parameterType="com.sparrow.cms.po.FriendLink">
update `friend_link` set 
`name`=#{name},
`logo`=#{logo},
`url`=#{url},
`status`=#{status},
`modified_user_id`=#{modifiedUserId},
`gmt_modified`=#{gmtModified},
`create_user_name`=#{createUserName},
`modified_user_name`=#{modifiedUserName} where id=#{id}
</update>
<delete id="delete" parameterType="java.lang.Long">
delete from `friend_link` where id=#{id}
</delete>
<select id="getEntity" resultMap="FriendLinkMap" parameterType="java.lang.Long">
 SELECT 
<include refid="fields"/>
 FROM 
friend_link
WHERE id= #{id}
</select>
<update id="changeStatus" parameterType="com.sparrow.protocol.dao.StatusCriteria">
update `friend_link` set `status`=#{status},
`modified_user_name`=#{modifiedUserName},
 `modified_user_id`=#{modifiedUserId},
 `gmt_modified`=#{gmtModified} WHERE id IN
<foreach collection="idArray" item="id" index="index" open="(" close=")" separator=",">
#{id}</foreach>
</update></mapper>